/* build time:Sat Mar 02 2024 08:55:59 GMT+0000 (Coordinated Universal Time)*/
#badge{text-align:center;left:0;width:100%;height:auto;white-space:normal;line-height:10px}.github-badge{display:inline-block;margin-top:18px;margin-right:6px;font-size:12px}.badge-subject{font-family:Arial,Helvetica,sans-serif}
/* rebuild by neat */